*{
    font-family: 'Times New Roman';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}   
body{
    width: 100%;
    height: 100%;
    background-color: rgb(218, 183, 133);
    background-position: center;
    background-size: cover;
    position: relative;
}
label input{
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}
.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 15px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: #fff;
    transition: 0.2s;
}
.toggle .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #2774AE;
    border-radius: 50px;
    transition: 0.3s ease;
}
.toggle .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toggle .middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toggle .bottom_line{
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toggle:hover{
    transform: scale(1.08);
}
label input:checked ~ .toggle .top_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}
label input:checked ~ .toggle .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}
label input:checked ~ .toggle .middle_line{
    opacity: 0;
    transform: translateX(20px);
}
.Upper-Navbar{
    background-color: #2774AE; /* UCLA Blue */
   display: flex;
  width: 100%;
    padding: 15px 100px;
    color: rgb(253, 250, 250);
    height: 100px;
    align-items: center;
    justify-content: space-evenly;
}
.slide{
    font-family: "Poppins", sans-serif;
    top: 0%;
  font-weight: 500;
  font-style: normal;
    height: 100%;
    width: 180px;
    position: absolute;
    background-color: rgb(239, 239, 208);
    transition: 0.5s ease;
    transform: translateX(-180px);
}
.slide h1{
    color: #2774AE;
    font-weight: 800;
    text-align: right;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
    margin-bottom: 30px;
}
.slide ul li{
    list-style: none;
}
.slide ul li a{
    color: #8f2d56;
    font-weight: 500;
    padding: 10px;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
    text-align:justify;
}
.slide ul li:hover a{
    color: #fff;
    background-color: #2774AE;
}
input:checked ~ .slide{
    transform: translateX(0);
    
}
.border:hover {
border: 2px;
border: solid white;
}
.logo img{
display: flex;
font-size: 20px;
}
/** box2**/

.input{width: 500px;
height: 40px;
padding: 2px 5px 2px 5px;
justify-content: space-evenly;
border-radius: 4px;
border: none;
align-content: center;
font-size: 1rem ;
}
.search{
display: flex;
 justify-content: space-evenly;
padding: 10px;
transition: 0.2s;
}
.search-icon i{
font-size: 30px;
height: 20px;
padding: 10px ;
align-items: center;
}
.search:hover{
    transform: scale(1.03);
}
/*box3*/
.Wishlist-icon{
    transition: 0.2s;
}
.Wishlist-icon  i{
display: flex;
font-size: 30px;
height: 20px;
padding: 10px ;
align-items: center;
color: rgb(220, 1, 1)
}
.Wishlist-icon:hover{
    transform: scale(1.08);
}
/*box4*/
.Cart-icon{
display: flex;
font-size: 30px;
height: 20px;
padding: 10px ;
align-items: center;
transition: 0.2s;
}
.Cart-icon i{
    color: white;
}
.Cart-icon:hover{
    transform: scale(1.08);
}
/*box5*/
.myaccount-icon{
display: flex;
font-size: 30px;
height: 20px;
padding: 10px ;
align-items: center;
transition: 0.2s;

}
.myaccount-icon i{
    color: white;
}
.myaccount:hover{
    transform: scale(1.08);
}

/** Hero Section**/
.Hero-Part{
    background-image: url(Cars.jpg);
    min-height: 650px;
    min-width: 768;
    background-size: cover;
    
    
}
body  {
    background-color: rgb(239, 239, 208);
}

.Hero-Content{
    color: rgb(143, 45, 86);
    align-items: center;
    justify-content: center;
    
    font-size: 2rem;

}
.Heading1{
    color: rgb(143, 45, 86);
    display: flex;
    justify-content: center;
    height: 100px;
    font-size: 3rem;
    font-weight: bolder;
}
.Heading2{
    color: rgb(143, 45, 86);
    display: flex;
    justify-content: center;
    height: 100px;
    font-size: 2rem;
    font-weight: bolder;
  
}
.quote1 {
    height: 50px;
    width: 100%;
    max-width: 1536px;
    background-color: rgb(143, 45, 86);
    overflow: hidden;
    color:rgb(218, 183, 133);
    font-size: 23px;
    font-weight: bolder;
    position: relative;
    
}

.slider {
    position: absolute;
    
    animation-name: slider;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    left: 100%;
    
}
.slider1{
    animation-delay: calc(10/2*(2-1)*-1);
    width: 1000px;
   
}

@keyframes slider {
    
    to{
        left:-200px;
    }
}
/**Trending*/
.trending{
    height: 600px;
    padding: 30px;
  
    
}
.quote2{
    
    height: 50px;
    text-align: center;
    color: rgb(143, 45, 86);
    align-content: center;
    font-size: 30px;
    font-weight: bolder;
}
.quote3{
    
    height: 50px;
    text-align: center;
    color: rgb(143, 45, 86);
    align-content: center;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 10px;
}
.trendingbrands{
    margin-top: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 2;
    
}
img{
    border-radius: 10px;
    z-index: 1;

}
.trending1 {
    height: 300px;
    width: 300px;
    transform: rotateX(-15deg) rotateY(10deg) skewY(5deg);
    display: flex;
    position: relative;
    
    margin: 5px;
}
.trending1 :hover{
    transform: scale(1.05);
}
.trending2 {
    height: 300px;
    width: 300px;
    position: relative;
    display: flex;
    transform: rotateX(15deg) rotateY(-10deg) skewY(-5deg);
    margin: 5px;
    
    
}
.trending2:hover{
    transform: scale(1.05);
}
.trending3 img{
    height: 300px;
    width: 300px;
    position: relative;
    display: flex;
    transform: rotateX(-15deg) rotateY(10deg) skewY(5deg);
    margin: 5px;
   
    
}
.trending3:hover{
    transform: scale(1.05);
}
.quote4{
    
    height: 50px;
    text-align: center;
    color: rgb(143, 45, 86);
    align-content: center;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 20px;
    
}

/** Brands**/
.quote5 h1{
    color: rgb(143, 45, 86);
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
}
.quote5 p{
    color: rgb(143, 45, 86);
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}
.brands{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    
    
}
.brands a{
    color: black;
}
.caption{
    height: 50px;
    width: 200px;
    padding-top: 200px;
    align-content: center;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    
    
}
.brand1{
    background-image: url(Hotwheels.webp);
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    display: flex;
    
    
    
}
.brand1:hover{
    transform: scale(1.05);
}
.brand2{
    background-image: url(Mini_Gt.jpg);
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    display: flex;
    
}
.brand2:hover{
    transform: scale(1.05);
}
.brand3{
    background-image: url(Tomica.avif);
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    display: flex;
    
}
.brand3:hover{
    transform: scale(1.05);
}
.brand4{
    background-image: url(Pokemon1.jpg );
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    display: flex;
    
}
.brand4:hover{
    transform: scale(1.05);
}
.brand5{
    background-image: url(Beyblade.jpg);
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    display: flex;
    
}
.brand5:hover{
    transform: scale(1.05);
}
/**New Arrivals**/

.quote6{
    color: rgb(143, 45, 86);
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
}

.itemdesc {  
    height: 50px;
    width: 300px;
    align-content: center;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: rgb(143, 45, 86);

}

.itemsrow{
    display: grid;
    grid-template-rows: repeat(2, 300px) ;
    grid-template-columns: repeat(3,300px);
    margin: 30px;
    padding: 30px;
    justify-content: center;
}
.item1  {
    height: 300px;
    width: 300px;
    text-decoration: none;
    text-align: center;
    
}
.item1:hover{
    transform: scale(1.05);
}
.item2 {
    height: 300px;
    width: 300px;
    text-decoration: none;
    text-align: center;
  
    
}
.item2:hover{
    transform: scale(1.05);
}
.item3 {
    height: 300px;
    width: 300px;
    text-decoration: none;
    text-align: center;
    
}
.item3:hover{
    transform: scale(1.05);
}
.item4  {
    height: 300px;
    width: 300px;
    text-decoration: none;
    text-align: center;
    
}
.item4:hover{
    transform: scale(1.05);
}
.item5  {
    height: 300px;
    width: 300px;
    text-decoration: none;
    text-align: center;
    
}
.item5:hover{
    transform: scale(1.05);
}
.item6  {
    height: 300px;
    width: 300px;
    text-decoration: none;
    text-align: center;
    
}
.item6:hover{
    transform: scale(1.05);
}

/**Footer**/
footer{
    background-color: rgb(218, 183, 133);
    margin-top: 20px ;
    color: rgb(143, 45, 86);
    justify-content: center;
    align-items: center;
  
}
.footer{
    height: 500px;
   
    display: flex;
    justify-content: space-evenly;
}
.aboutus{
    height: 200px;
    width: 300px;
    padding: 20px;
}
.aboutus h5{
    font-size: 30px;
}
.shopbybrand{
    height: 200px;
    width: 300px;
    padding: 20px;
    text-decoration: none;
    
}
.shopbybrand p{
    color: rgb(143, 45, 86);
}
.shopbybrand h5{
    font-size: 30px;
}
.quicklinks{
    height: 200px;
    width: 300px;
    padding: 20px;
   
    
}
.quicklinks h5{
    font-size: 30px;
}
.quicklinks a{
    color: rgb(143, 45, 86);
}
.category{
    height: 200px;
    width: 300px;
    padding: 20px;

   

}
.category p{
    color: rgb(143, 45, 86);
}
.category h5{
    font-size: 30px;
}
.rights i{
    margin-top: 10px;
    padding-left: 60px;
}