*{
    font-family: 'Times New Roman';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100%;
    background-color: rgb(218, 183, 133);
}
.track-top{
    background-color: rgb(239, 239, 208);
    width: 100%;
    height: 100px;
}
.track-top img{
    height: 100px;
    width: 100px;
    margin-left: 48%;
}
.track-form{
    background-color: rgb(239, 239, 208);
    left: 20%;
    right: 5%;
    top: 25%;
    position: absolute;
    width: 60%;
    height: 370px;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    line-height: 60px;
    font-size: 20px;
}
.track-form h1{
    margin-bottom: 20px;
}
.track-form hr{
    margin-bottom: 20px;
}
.track-form label input{
    margin-left: 25px;
    margin-right: 25px;
}
.track-input input{
  height: 40px;
  width: 70%;
  font-size: 15px;
  padding-left: 10px;
  margin-top: 25px;
}
.track-form button{
    width: 50%;
    height: 15%;
    margin-top: 35px;
    font-size: 25px;
    color: #efefd0;
    background-color: chocolate;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.track-footer{
    background-color: rgb(239, 239, 208);
    width: 100%;
    height: 20px;
    top: 10%;
    padding-left: 20px;
    margin-top: 90%;
}